<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>基本用法</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" style="margin-bottom:200px">
    v-model的用法: <br>
    <hr>
    input和texyarea的用法
    <input type="text" v-model="value"> <br>
    {{value}}
    <br>
    多行文本框 <br>
    <textarea name="" id="" cols="30" rows="2" v-model="textArea"></textarea><br>
    {{textArea}}
    <hr>
    单选框的用法：<br>
    单个选框：用v-bind绑定一个布尔值 
    <input type="radio"  :checked="oneradio"> <br>
    单个选框：用v-model绑定一个布尔值 
    <!-- oneradio在data中设置为了true，但是在页面中，单选框没有被选上，注意 -->
    <input type="radio" v-model="oneradio">
    <br>
    多个单选框:
      狗蛋:<input name="checks" value="狗蛋" type="radio" v-model="checkname">
      猫蛋:<input name="checks" value="猫蛋" type="radio" v-model="checkname">
      翠花:<input name="checks" value="翠花" type="radio" v-model="checkname"> <br>
      现在选中的是---------------{{checkname}}
      <hr>
      复选框：<br>
      单个复选框:用v-bind
      <input type="checkbox" :checked="oneradio2"> <br>
      单个复选框:用v-model
      <input type="checkbox" v-model="oneradio2">
      <hr>
      多个复选框:
      猫蛋<input type="checkbox" value="猫蛋" v-model="checks">
      狗蛋<input type="checkbox" value="狗蛋" v-model="checks">
      翠花<input type="checkbox" value="翠花" v-model="checks">
      <br>现在选中了{{checks}} 
      <hr>
      单选下拉框
      <select name="" id="" v-model="selected">
        <option value="猫蛋">猫蛋</option>
        <option value="狗蛋">狗蛋</option>
        <option value="翠花">翠花</option>
      </select>现在选中的是-------------{{selected}}
      <hr>
      多选下拉框
      <select name="" id="" multiple v-model="selectedmul">
        <option value="猫蛋">猫蛋</option>
        <option value="狗蛋">狗蛋</option>
        <option value="翠花">翠花</option>
      </select>现在选中的是-------------{{selectedmul}}
      <hr style="color:red">
      绑定值: <br>
      单选按钮:
      <input type="radio" v-model="picked" :value="value">------{{picked}} <br>
      复选框:--------选中和不选中value是不一样的
      <input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2">
      <br>
      {{toggle}} <br>
      被选中 {{toggle==value1}} <br>
      未被选中 {{toggle==value2}} <br>
      <hr>
      单选下拉框
      <select name="" id="" v-model="valueSelect" :value="{num:111}">
        <option :value="{num:111}">猫蛋</option>
      </select>现在选中的是-------------{{typeof valueSelect}}-----{{valueSelect.num}}
      <hr>
      修饰符:
      <input type="text" v-model="inputStr">-----{{inputStr}} <br>
      修饰符lazy:<input type="text" v-model.lazy="lazyStr">-----{{lazyStr}} <br>
      number:
      <input type="text" v-model.number="isNum"> 
      ---{{typeof isNum}} <br>
      trim
      <input type="text" v-model.trim="trimStr"> br
      ---{{trimStr.split('')}}----
      
  </div>





  <script>
    var app = new Vue({
      el:'#app',
      data:{
        value:'',
        textArea:'',
        oneradio:true,
        oneradio2:true,
        checkname:'',
        checks: [],
        selected:[],
        selectedmul:[],
        value:'111',
        picked:true,
        toggle:true,
        value1:'我被选中了',
        value2:'我没有被选中',
        valueSelect:'',
        inputStr:'',
        lazyStr:'',
        isNum:'',
        trimStr:''

  

      },
      methods:{
        reverse:function() {
          this.oneradio=!this.oneradio
        },
        reverse2:function() {
          this.oneradio2=!this.oneradio2
        }
      },
    })
  </script>
</body>
</html>